/*============== GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;600;800&display=swap');

/*============== VARIABLES CSS */
:root {
  --nav-height: 80px;
  /*============== COLORS */
  --body-font-family: 'Heebo', sans-serif;
  --primary-color: #0073ee;
  --primary-light-color: #037cff;
  --secondary-color: #3e445f;
  --secondary-light-color: #454b69;
  --light-color: #e6f2ff;
  --gray-color: #e2e9dd;
  --gray-dark-color: #a7adb8;
  --default-text-color: #1d1d1f;
  --title-text-color: #262626;
  --text-white: #fff;
  --white-bg-color: #fff;
  --gray-bg-color: #f3f3f3;
  --transition: all 500ms ease-in-out;

  /*============== FONT SIZE AND TYPOGRAPHY */
  --hero-font-size: 48px;
  --h1-font-size: 42px;
  --h2-font-size: 38px;
  --h3-font-size: 18px;
  --normal-font-size: 16px;
  --small-font-size: 14px;
  --xs-font-size: 12px;

  /*============== FONT WEIGHT */
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 800;
}
